.copyblock-parent {
  background-color: rgb(40, 44, 52);
  border-radius: 15px;
  margin: 20px 10px 20px 10px;
  color: #ffffff;
  overflow: auto;
  width: 600px;
  height: 300px;
}

.copyblock-header {
  background-color: rgb(25, 30, 32);
  border-radius: 15px 15px 0px 0px;
  display: flex;
  padding: 10px 0px 5px 10px;
}

.copyblock-title {
  color: rgb(255, 170, 0);
  font-size: 18px;
  flex-grow: 4;
}

.copyblock-btn {
  background-color: #ffffff;
  border-radius: 5px;
  border-color: white;
  color: blue;
  flex-grow: 1;
  font-weight: 600;
  margin-right: 10px;
  visibility: hidden;
}

.copyblock-btn:hover {
  background-color: blue;
  border-color: blue;
  color: white;
  cursor: pointer;
}

.copyblock-parent:hover .copyblock-btn {
  visibility: visible;
}

.copyblock-content {
  color: lightblue;
  padding: 15px;
}

.snippet-rows {
  display: flex;
  flex-direction: row;
}

.snippet-column {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
  padding: 0 10px;
}

.comments {
  background-color: orange;
  color: black;
  margin: 0 auto;
  padding: 0 20px;
  border-radius: 15px;
  font-weight: 600;
  width: 80%;
}

.snippet-btn {
  background-color: #02a5c9;
  border: 1px solid #000;
  border-radius: 10px;
  color: white;
}

.snippet-btn:hover {
  box-shadow: 2px 2px 0px #003f4d;
}

.snippet-btn:active {
  box-shadow: 0 5px #003f4d;
  transform: translateY(4px);
}