.footer {
  border-top: 1px solid #c4c4c4;
  padding-top: 2px;
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  display: flex;
}

.alert-field-container {
  margin: 0px auto;
  flex: 1;
  width: 100%;
  display: grid;
  place-items: center;
  position: absolute;
}

.alert-field {
  margin: auto auto;
}

.success {
  background-color: #4CAF50;
}

.info {
  background-color: #2196F3;
}

.error {
  background-color: #f44336;
}