/*
Palette	      Hex Code
----------------------
Background	  #272822
Foreground	  #F8F8F2
Comment	      #75715E
Red	          #F92672
Orange	      #FD971F
Light Orange	#E69F66
Yellow	      #E6DB74
Green	        #A6E22E
Blue	        #66D9EF
Purple	      #AE81FF
*/
@import 'reset.css';
@import 'navigation.css';
@import 'quick-clipboard.css';
@import 'clipboard.css';
@import 'contentblock.css';

.main {
  background-color: #f6f8fa;
  display: flex;
  flex-direction: row;
  height: 870px;
  width: 100%;
}

.center {
  flex: 4;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  margin-left: 50px;
}

.center-content {
  flex: 4;
}

.right-side {
  flex: 4;
}