@import 'reset.css';
@import 'navigation.css';

body {
  background-color: #f6f8fa;
}

[placeholder]:empty:before {
  content: attr(placeholder);
  color: #555; 
}

[placeholder]:empty:focus::before {
  content: "";
}

.main {
  display: flex;
  flex-direction: row;
  height: 870px;
  width: 100%;
}

.center {
  flex: 5;
  display: flex;
  flex-direction: column;
  margin-right: 50px;
  margin-left: 50px;
}

.center-content {
  flex: 4;
}

.right-side {
  flex: 5;
  display: flex;
  flex-direction: row;
}
