.formbox {
  margin-top: 20px;
  border-radius: 15px 15px 15px 15px;
}

.form-header {
  border-bottom: 1px solid rgb(40, 44, 52);
  border: 1px solid rgb(40, 44, 52);
  border-radius: 15px 15px 15px 15px;
  display: flex;
  padding: 10px 0px 5px 10px;
  background-color: rgb(25, 30, 32);
  color: white;
}

.formheader-active {
  border-radius: 15px 15px 0px 0px;
}

.formcontent {
  display: flex;
  flex-direction: column;
  background-color: rgb(40, 44, 52);
  visibility: hidden;
  border-radius: 0px 0px 15px 15px;
}

.formcontent-active {
  visibility: visible;
}

.form-field {
  flex: 1;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.form-field-in {
  flex: 3;
  border-radius: 10px 10px 10px 10px;
  background-color: white;
  color: black;
}

.form-field-radio-group {
  flex: 3;
}

.form-field-inarea {
  height: 200px;
}

.form-field-label {
  flex: 1;
}