.copy-btn {
  background-color: #73ee00;
  font-weight: bold;
}

.command-btn {
  background-color: #c0b411;
  font-weight: bold;
}

.url-link {
  background-color: #830000;
  border: 5px solid #830000;
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}