<header>
  <nav>
    <div class="nav-container">
        <ul class="main-menu">
          <li>
            <a id="nav-templateform" [routerLink]="['/generator']" routerLinkActive="active">Generator</a>
          </li>
        </ul>

        <div 
          id="header-togglemenu" 
          class="collapsible-menu-button" 
          aria-label="Navigation menu, press enter to open" 
          role="button" 
          tabindex="0" 
          [class.close-collapsible-menu]="toggleCollapsibleMenu" 
          (click)="toggleMenu()" 
          (keyup.enter)="toggleMenu()"
        >
          <div class="collapsible-menu-caption">
          </div> 
          <div class="collapsible-icon">
            <div class="collapsible-top-bar"></div> 
            <div class="collapsible-middle-bar"></div>
            <div class="collapsible-bottom-bar"></div>
          </div>
        </div>
  
      <ul id="header-collapsiblemenu" class="collapsible-menu" [class.show-collapsible-menu]="toggleCollapsibleMenu">
        <li *ngFor="let link of links; index as i">
          <a id="header-menu-link-{{i}}" [routerLink]="[link.href]">{{link.text}}</a>
        </li>
      </ul>
    </div>
  </nav>
</header>